%ul
  .card_border
  - @exchange.crypto_currencies.each do |exchange|
    %li.list{:href => crypto_currency_path(exchange)}
      %p
        = image_tag exchange.icon_image.url, :class => 'icon'
      .div
        %p.exchange_title
          = exchange.name
        %p.overview
          = exchange.overview