%ul
  .card_border
  - @crypto_currency.exchanges.each do |exchange|
    %li.list{:href => exchange_path(exchange)}
      %p
        = image_tag exchange.icon_image.url, :class => 'icon'
      .message
        %p.list_coin_title
          = exchange.name
        %p.description
          = exchange.overview