%h1.title 取引タイプ
%table
  %tbody
    %tr
      %th マーケット
      %th 出来高(24H)
      %th Bid
    %tr
      %td.market BTC/JPY
      %td.volume
      %td.bid
%h1.title その他
%table
  %tbody
    %tr
      %th マーケット
      %th 出来高(24H)
      %th Bid
    %tr
      %td.market BTC/JPY
      %td.volume
      %td.bid
%p.description
  = @crypto_currency.description